<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>nombre</ion-card-subtitle>
      <ion-card-title>{{user['nombre'] || 'Seleccione un elemento de la tabla'}}</ion-card-title>
      <ion-card-subtitle>correo</ion-card-subtitle>
      <ion-card-title>{{user['correo']}}</ion-card-title>
      <ion-card-subtitle>telefono</ion-card-subtitle>
      <ion-card-title>{{user['telefono']}}</ion-card-title>
      <ion-card-subtitle>ciudad</ion-card-subtitle>
      <ion-card-title>{{user['ciudad']}}</ion-card-title>
    </ion-card-header>


  </ion-card>


</ion-content>
