<ion-text class="ion-text-center" color="primary">
  <h1>Registrar usuario</h1>
</ion-text>




<form [formGroup]="miFormulario">

  <ion-item>
    <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required formControlName="nombre" type="text"></ion-input>
  </ion-item>
  <span class="form-text text-danger" *ngIf="campoEsValido('nombre')">
    Este campo es obligatorio
  </span>

  <ion-item>
    <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required formControlName="correo" type="text"></ion-input>
  </ion-item>
  <span class="form-text text-danger" *ngIf="campoEsValido('correo')">
    Este campo es obligatorio
  </span>

  <ion-item>
    <ion-label position="floating">Telefono <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required formControlName="telefono" type="text"></ion-input>
  </ion-item>
  <span class="form-text text-danger" *ngIf="campoEsValido('telefono')">
    mayor a 10 cifras
  </span>

  <ion-item>
    <ion-label position="floating">Ciudad <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input required formControlName="ciudad" type="text"></ion-input>
  </ion-item>
  <span class="form-text text-danger" *ngIf="campoEsValido('ciudad')">
    Este campo es obligatorio
  </span>

</form>

<div class="col-sm-12">
  <ion-button (click)="agregar()" expand="block">
    Agregar
  </ion-button>
</div>
